*{
    font-family: 'Sono', sans-serif;
    color: white;
    text-align: center;
}

body{
    background-image: url(WhatsApp\ Image\ 2023-03-20\ at\ 10.56.38.jpeg);
    background-size: 101%;
}

h1{
    font-size:400%;
    margin-left: 90px;
    /* margin-right: 400px; */
    border-radius :20px ;
    background-color: #2190bc;
    
}

h3{
    font-size: 250%;
    margin-left: 90px;
    /* margin-right: 400px; */
    border-radius :20px ;
    background-color: #2190bc;
    margin-top: 35%;
}

img{
    float: right;
    width: 380px;;

}